@font-face {
    font-family: MSDOS;
    /* src: url(../fonts/dos.ttf); */
    src: url(../fonts/LessPerfectDOSVGA.ttf);
}

.dosbox-container {
    width: 640px;
    min-height: 400px !important;
    font-family: 'MSDOS', monospace;
}

a {
    color: white;
    text-decoration: underline;
}

.dosbox-container * {
    color: white !important;
}

.st-loader:before,
.st-loader:after {
    border-color: white !important;
}

.st-loader .equal {
    border-color: white !important;
}

#toolbar-button-group-container {
    width: 640px;
    text-align: center;
}

#toolbar-button-group-container #toolbar-button-group {
    display: inline-block;
    margin-top: 10px;
    font-family: 'MSDOS', monospace;
    font-size: 16px;
}

#toolbar-button-group-container #toolbar-button-group button {
    border-radius: 0;
    font-weight: normal;
    width: 200px;
    background-color: #333;
}

#fullscreen-icon {
    margin-left: -5px;
    margin-top: -3px;
}

#origins-overlay {
    position: absolute;
    top: 0;
    width: 640px;
    height: 400px;
    font-family: 'MSDOS', monospace;
    background-color: #333;
    color: white;
    z-index: 100;
    padding: 20px;
    overflow: hidden;
}

#origins-overlay .file-name {
    color: #ccc;
}

#origins-overlay .file-name.selected {
    color: white;
}

.file-name-container {
    width: 30%;
    float: left;
}

.file-description-container {
    width: 70%;
    float: right;
}
